@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    color: #333;
    line-height: 1.6;
    font-size: 1.6rem;
    background-color: #fff;
}

ul {
    list-style-type: none;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 1rem 0;
}

img, iframe {
    width: 100%;
    height: 100%;
}

/* header etiketi */
#main-header {
    width: 100%;
    height: 10rem;
    padding: 0rem 15rem;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark);
}

#logo {
    height: 8rem;
}

/* main etiketi */
/* page-start etiketi */
#page-start {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: var(--white);
    background-color: var(--dark);
}

#brand-logo {
    width: 25rem;
    height: 25rem;
    transform: scale(0.0);
    animation: logo_animation 2s linear forwards;
}

/* Logo animasyonu */
@keyframes logo_animation {
    to {
        transform: scale(1.0);
    }
}

.page-start-content {
    margin: 3rem 0rem;
    padding: 2rem 5rem;
    flex-direction: column;
}

.page-start-content h1 {
    font-size: 5rem;
}

.page-start-content p {
    font-size: 1.8rem;
}

.page-start-content a {
    padding: 1rem 3rem;
    font-size: 1.8rem;
}

/* breads etiketi */
.bread-cards {
    width: 80%;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}

.bread-card {
    border-radius: 18px;
    transition: all 0.8s;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.bread-card:hover {
    cursor: pointer;
    color: var(--white);
    transform: scale(1.05);
    background-color: var(--secondary);
}

.bread-card img{
    overflow: hidden;
    border-radius: 18px;
}

.bread-card-content {
    padding: 1.5rem;
}

.bread-card-content h3 {
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
}

/* other-products etiketi */
.product-images {
    width: 80%;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.product-images div {
    cursor: pointer;
    opacity: 0.75;
    border-radius: 18px;
    overflow: hidden;
    transition: all 0.5s;
}

.product-images div:hover {
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

/* about etiketi */
#about p {
    margin: 2.5rem 0rem;
}

/* features etiketi */
#features {
    margin: 5rem 0rem;
    color: var(--white);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--dark);
}

.features-content {
    padding: 3rem;
}

#features h3 {
    font-size: 3.5rem;
}

#features p {
    font-size: 1.8rem;
}

.phone {
    margin: 5rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    gap: 1.5rem;
    transition: all 0.8s;
}

.phone:hover {
    cursor: pointer;
    color: var(--secondary);
}

/* employees etiketi */
.employees-cards {
    width: 90%;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.employee-card {
    color: var(--dark);
    overflow: hidden;
    border-radius: 18px;
    background-color: var(--beige);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: all 0.8s;
}

.employees-cards:hover .employee-card {    
    filter: blur(5px);
    transform: scale(0.95);
    opacity: 0.9;
}

.employees-cards .employee-card:hover {
    cursor: pointer;
    filter: blur(0px);
    transform: scale(1.05);
    opacity: 1;
}

.employee-card-img img {
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.employee-card-content {
    padding: 2.5rem;
}

.employee-card-content h4, .employee-card-content h5 {
    font-size: 2rem;
}

/* contact etiketi */
#contact {
    width: 100%;
    margin: 5rem 0rem;
    color: var(--white);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--dark);
}

.contact-form {
    padding: 5rem;
}

.contact-form h3 {
    font-size: 3rem;
}

.form-control {
    margin: 2rem 0rem;
    display: flex;
    flex-direction: column;
}

.form-control label {
    font-weight: 700;
    font-size: 1.8rem;
}

.form-control input {
    margin: 1rem 0rem;
    padding: 1rem 1.5rem;
    font-size: 1.8rem;
    border: none; 
    border-radius: 8px;  
}

.contact-form button {
    padding: 1rem 3rem;
    font-size: 1.8rem;
}

/* footer etiketi */
#main-footer {
    width: 100%;
    margin-top: 5rem;
    padding: 2rem 2rem;
    color: var(--white);
    font-size: 2.4rem;
    background-color: var(--dark);
}

.social-links a {
    color: var(--white);
    font-size: 3rem;
}

.social-links i {
    transform: scale(0.9);
    transition: all 0.8s;
}

.social-links i:hover {
    transform: scale(1.1);
}

.fa-facebook:hover {
    color: blue;
}

.fa-twitter:hover {
    color: deepskyblue;
}

.fa-instagram:hover {
    color: crimson;
}

.fa-youtube:hover {
    color: red;
}

.fa-linkedin:hover {
    color: dodgerblue;
}

.fa-pinterest:hover {
    color: crimson;
}

.fa-whatsapp:hover {
    color: green;
}

.fa-discord:hover {
    color: cornflowerblue;
}