:root {
    --white: #fff;
    --dark: #000000;
    --primary: #262A56;
    --secondary: #B8621B;
    --beige: #E3CCAE;
    --success: #28a745;
    --danger: #dc3545;
    --warning: #ffc107;
    --info: #17a2b8;
}

/* text-center */
.text-center {
    text-align: center;
}

/* buttons */
.btn {
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    display: inline-block;
    color: var(--white);
    border: none;
    border-radius: 0.5rem;
    transition: all 0.8s;
}

.btn:hover {
    opacity: 0.7;
}

.btn-primary { background-color: var(--primary); }
.btn-secondary { background-color: var(--secondary); }

/* flex-items */
.flex-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}